:root {
	--Glight: #baffad;
	--Gdark: #00992c;
}

.gallery-body {
	display: flex;
}

.body-flex {
	background-color: var(--Gdark) ;
	color: var(--Glight);
	border-radius: 25px;
	padding: 20px;
	margin: 5px;
}

.sidebar {
	width: 10%;
}

.gallery-content {
	width: 90%;
	font-size: larger;
}

.gallery-sections {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
	width: 100%;
}

.section {
	margin-top: 20px;
	position: relative;
	width: 425px;
	height: 500px;
	transition-duration: 0.2s;
}

.section img {
	position: absolute;
	width: 425px;
	height: 500px;
	left: 0px;
	top: 0px;
	object-fit: cover;
	object-position: center;

	border-radius: 15px;

	box-shadow: 0px 0px 10px black;
	transform: scale(1,1);
}
.section:hover img {
	box-shadow: 0px 0px 20px white;
	transform: scale(1.1,1.1);
}

.section div {
	position: absolute;
	width: 425px;
	height: 147px;
	left: 0px;
	top: 353px;

	border-radius: 15px;
	background: rgba(255, 255, 255, 0.25);
	text-align: center;
	text-shadow: 0px 0px 10px white;
	font-size: 20px;

	/* Note: backdrop-filter has minimal browser support */
	backdrop-filter: blur(10px);
}
.section div h3 {
	font-size: 30px;
	color: white;
}