:root {
	--Glight: #baffad;
	--Gdark: #00992c;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--Glight);
  }
  
  header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: var(--Gdark);
	border-radius: 25px;
	color: var(--Glight);
	font-size: 25px;
	text-shadow: 0px 0px 10px black;
	box-shadow: 0px 0px 10px black inset;
  }

  p {
	  text-align: center;
	  text-align-last: left;
  }
  
  a:link {
	  color: white;
	  text-shadow: 0 0 20px var(--Glight);
	  opacity: 1;
	  transition-duration: 0.2s;
  }
  a:visited {
	color: var(--Glight);
	text-shadow: 0 0 10px black;
  }
  a:hover {
	color: white;
	text-shadow: 0 0 40px var(--Gdark);
  }
  a:active {
	color: white;
	text-shadow: 0 0 50px black;
	transform: scale(2, 2);
  }

  li {
	  font-weight: bold;
  }

  .header-logo {
	display: flex;
	align-items: center;
	gap: 20px;
  }

  .header-logo h1 {
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
  }
  .header-logo h1:hover {
	  text-shadow: 0 0 20 black;
	  transform: matrix(1.2, 0.3, -0.3, 1.2, 0, 0);
  }

  .logo {
	filter: drop-shadow(0px 0px 10px black);
	padding: 10px;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
  }
  .logo:hover {
	  filter: drop-shadow(0 0 20px black);
	  transform: matrix(1.2, -0.3, 0.3, 1.2, 0, 0);
  }
  
  .header-buttons {
	display: flex;
	align-items: center;
	gap: 20px;
  }
  
  .header-buttons a {
	background-color: var(--Glight);
	border-radius: 20px;
	box-shadow: 0px 0px 10px black;
	color: var(--Gdark);
	display: block;
	font-size: 30px;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;
	transition-duration: 0.2s;
  }
  .header-buttons a:hover {
	background-color: var(--Gdark);
	color: var(--Glight);
	box-shadow: 0 0 20px black;
  }

  .header-buttons a.github-button {
	background-color: black;
	border-radius: 20px;
	box-shadow: 0px 0px 10px black;
	color: white;
	display: block;
	font-size: 30px;
	padding: 10px;
	padding-top: 15px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;
	transition-duration: 0.2s;
  }
  .header-buttons a.github-button:hover {
	box-shadow: 0px 0px 20px white;
	transform: scale(1.2, 1.2);
  }

  .header-buttons a.nav-dissabled {
	background-color: var(--Gdark);
	border-radius: 20px;
	box-shadow: 0px 0px 10px black;
	color: var(--Glight);
	display: block;
	font-size: 30px;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;
	transition-duration: 0.2s;
  }
  .header-buttons a.nav-dissabled:hover {
	background-color: var(--Gdark);
	border-radius: 20px;
	box-shadow: 0px 0px 10px black inset;
	color: var(--Glight);
	display: block;
	font-size: 30px;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;
	cursor: default;
  }

.title {
	color: var(--Glight);
	text-shadow: 0px 0px 10px black, 0px 0px 10px black;
	font-size: 50px;
	padding-left: 100px;
	float: none;
	text-align: left;
}

.content {
	text-align: left;
	border-radius: 25px;
	padding: 20px;
	position: static;
	color: var(--Glight);
	background-color: var(--Gdark);
	font-size: 25px;
	text-shadow: 0px 0px 10px black;
	box-shadow: 0px 0px 10px black inset;
	top: 100px;
}