body {
    background-color: #baffadff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

header {
    text-align: left;
    border-radius: 25px;
    position: sticky;
    padding: 0px;
    color: #baffadff;
    background-color: #00992cff;
    font-size: 25px;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black inset;
}

.Logo {
    width: 100px;
    height: 100px;
    float: left;
    padding: 20px;
    filter: drop-shadow(0px 0px 10px black);
}
h1 {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
img, h1 {
    float: left;
    display: block;
    margin: 0;
}

header::after {
    content: "";
    clear: both;
    display: table;
}
.Buttons {
    text-align: right;
    margin-right: 20px;
    line-height: 500%;
    padding-top: 10px;
}

button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #baffadff;
    color: #00992cff;
    font-size: 30px;
    box-shadow: 0px 0px 10px black;

    transition-duration: 0.5s;
}
button:hover {
    background-color: #00992cff;
    color: #baffadff;
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
}

.Dissabled {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #00992cff;
    color: black;
    font-size: 30px;
    box-shadow: 0px 0px 10px black;
}
.Dissabled:hover {
    cursor: not-allowed;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #00992cff;
    color: black;
    font-size: 30px;
    box-shadow: 0px 0px 10px black;
}

.Title {
    color: #baffadff;
    text-shadow: 0px 0px 10px black, 0px 0px 10px black;
    font-size: 50px;
    padding-left: 100px;
}

.Content {
    text-align: left;
    border-radius: 25px;
    padding: 20px;
    position: static;
    color: #baffadff;
    background-color: #00992cff;
    font-size: 25px;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black inset;
    top: 100px;
}