body {
	font-family: "Roboto", sans-serif;
	background-color: #baffad;
  }
  
  header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: #00992c;
	border-radius: 25px;
	color: #baffad;
	font-size: 25px;
	text-shadow: 0px 0px 10px black;
	box-shadow: 0px 0px 10px black inset;
  }
  
  .header-logo {
	display: flex;
	align-items: center;
	gap: 20px;
  }

  .logo {
	filter: drop-shadow(0px 0px 10px black);
	padding: 10px;
  }
  
  .header-buttons {
	display: flex;
	align-items: center;
	gap: 20px;
  }
  
  .header-buttons a {
	background-color: #baffad;
	border-radius: 20px;
	box-shadow: 0px 0px 10px black;
	color: #00992c;
	display: block;
	font-size: 30px;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;
	transition-duration: 0.5s;
  }
  .header-buttons a:hover {
	background-color: #00992c;
	color: #baffad;
	box-shadow: 0 0 20px black;
  }

  .header-buttons a.nav-dissabled {
	background-color: #00992c;
	border-radius: 20px;
	box-shadow: 0px 0px 10px black;
	color: #baffad;
	display: block;
	font-size: 30px;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;
	transition-duration: 0.5s;
  }
  .header-buttons a.nav-dissabled:hover {
	background-color: #00992c;
	border-radius: 20px;
	box-shadow: 0px 0px 10px black inset;
	color: #baffad;
	display: block;
	font-size: 30px;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;
	cursor: not-allowed;
  }

.title {
	color: #baffadff;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black;
	font-size: 50px;
	padding-left: 100px;
	float: none;
	text-align: left;
}

.content {
	text-align: left;
	border-radius: 25px;
	padding: 20px;
	position: static;
	color: #baffadff;
	background-color: #00992cff;
	font-size: 25px;
	text-shadow: 0px 0px 10px black;
	box-shadow: 0px 0px 10px black inset;
	top: 100px;
}