:root {
	--dark: #770077;
}

@font-face {
	font-family: 'Font Name';
	src: url('Fonts/PT_Mono/PTMono-Regular.ttf') format('truetype'),
		url('Fonts/PT_Mono/PTMono-Regular.woff') format('woff'),
		url('Fonts/PT_Mono/PTMono-Regular.woff2') format('woff2');
}

body {
	background-color: var(--dark);
	font-family: 'PT Mono', monospace;
	font-size: larger;
}

.Header {
	background-color: magenta;
	border-radius: 20px;
	margin: 20px;

	padding: 50px;
	display: flex;
	justify-content: space-between;

	color: white;
	font-size: larger;
}

.Logo {
	background-color: var(--dark);
	border-radius: 15px;
	color: white;

	display: flex;
	padding-right: 10px;
	align-items: center;

	user-select: none;
	text-decoration: none;
	font-size: large;

	transition-duration: 0.2s;
}

.Logo:hover {
	transform: matrix(1.2, -0.1, 0.1, 1.2, 0, 0);
}

.Icon {
	width: 100px;
	margin-right: 10px;
}

.HeaderButtons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.HeaderButtons button {
	background-color: var(--dark);
	border-radius: 15px;
	height: 70px;
	border-style: hidden;
	cursor: pointer;

	color: white;
	font-family: 'PT Mono', monospace;
	font-size: larger;
}

.Content {
	background-color: magenta;
	border-radius: 20px;
	margin: 20px;
}

@media (orientation:portrait) {
	.Logo {
		background-color: magenta;
		padding-right: 0%;
		font-size: 0%;
	}

	.icon {
		margin-right: 0%;
	}
}